<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Becuz main App</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h2>Photo Upload</h2>

		<div th:object="${formSigner}">
			<form role="form" method="post" th:action="*{s3BucketUrl}"
				enctype="multipart/form-data">
				<!-- The owner of the photo -->
				<input type="hidden" name="x-amz-security-token"
					th:if="*{#bools.isTrue(isToken)}"
					th:value="*{credsProvider.credentials.sessionToken}" />
				<!-- The key (name) the photo file will have once in S3 -->
				<input type="hidden" id="key" name="key" th:value="*{objectKey}" />
				<!-- Access Key -->
				<input type="hidden" name="AWSAccessKeyId"
					th:value="*{credsProvider.credentials.AWSAccessKeyId}" />
				<!-- Where S3 will redirect the user after the video upload completes -->
				<input type="hidden" name="success_action_redirect"
					th:value="*{successActionRedirect}" />
				<!-- The Base64 encoded policy that the POSTed form must conform to -->
				<input type="hidden" name="policy" th:value="*{encodedPolicy}" />
				<!-- The policy signed with the Secret Key (prevents tampering)-->
				<input type="hidden" name="signature" th:value="*{signature}" />
				 <input
					type="hidden" name="x-amz-meta-bucket" th:value="*{s3Bucket}" />
				 <input
					type="hidden" name="x-amz-meta-owner" th:value="${currentUser.id}" />
				<input type="hidden" id="x-amz-meta-uuid" name="x-amz-meta-uuid" th:value="*{uuid}" />
				<div id="legend">
					<legend>Upload Photo</legend>
				</div>
				<div class="form-group">
					<label for="title">Title</label>
					<div class="input-group">
						<input type="text" class="form-control" name="x-amz-meta-title"
							id="title" placeholder="Photo Title">
						</input> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-pencil"></span></span>
					</div>
				</div>
				<br />
				<div>
					<label for="description">Description</label>
					<div class="input-group">
						<textarea id="description" class="form-control" rows="3"
							name="x-amz-meta-description"></textarea>
						<span class="input-group-addon"><span
							class="glyphicon glyphicon-list-alt"></span></span>
					</div>
				</div>
				<br />
				<div>
					<label for="password">Photo</label>
					<div class="input-group">
						<!--  <input type="file" name="file" class="form-control"></input>
						document.getElementById('key').value = document.getElementById('key').value.replace(/(.*)\/.*(\.*$)/i, '$1/'+this.value)"
						 -->
						<input type="file" name="file" class="form-control"
					           onchange="document.getElementById('x-amz-meta-uuid').value = this.value; 
					           document.getElementById('key').value = document.getElementById('key').value+'/'+this.value)"
					     />
						
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-facetime-video"></span>
						</span>
					</div>
				</div>
				<hr />
				<div class="control-group">
					<!-- Button -->
					<div class="controls">
						<button class="btn btn-primary btn-lg">Upload</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>